@tailwind base;
@tailwind components;
@tailwind utilities;

.bgHome {
  background-image: url("https://images5.alphacoders.com/128/1284525.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.leftHome {
  background-image: url("https://images5.alphacoders.com/859/859633.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
